@import url('https://fonts.googleapis.com/css?family=Courgette%7CGirassol%7CPermanent+Marker%7CUbuntu&display=swap%27');

.homeElement {
  padding-top: 75px;
}
.divider {
  padding-top: 50px;
  padding-bottom: 50px;
}

.nav {
  font-family: 'Permanent Marker', cursive; 
}
.home {
  text-align: center;
  font-family: 'Ubuntu', sans-serif;
  font-size: 30px; 
  padding-top: 100px; 
}
.name {
  text-align: center;
  font-family: 'Permanent Marker', cursive; 
  font-size: 55px; 
}
.description {
  text-align: center;
  font-family: 'Ubuntu', sans-serif;
  font-size: 30px; 
}
.border {
  border: solid #a6b4ba; 
  padding-bottom: 100px; 
  animation: fadeIn 1s ease-in both; 
}
.active {
  visibility: visible; 
  transition: all 200ms ease-in;
}
.hidden {
  visibility: hidden;
  transition: all 200ms ease-out;
  transform: translate(0, -100%);
}

@keyframes fadeIn {
  from {
      opacity: 0;
      transform: translate3d(0, -20%, 0);
  }
  to {
      opacity: 1;
      transform: translate3d(0, 0, 0);
  }
}

.activeAbout {
  visibility: visible; 
  animation: fadeIn .5s ease-in both; 
}
.hiddenAbout {
  visibility: hidden;
}

.image {
  position: absolute;
  top: 50px; 
  right: -700px;
}
.borderAbout {
  display: flex; 
  border: solid #a6b4ba; 
  padding-bottom: 100px; 
  animation: fadeIn .5s ease-in both; 
}
.aboutMe {
  color: #eeeeee; 
  font-family: 'Permanent Marker', cursive; 
  position: absolute;
  top: 80px; 
  left: 80px; 
  font-size: 20px; 
  animation: fadeIn 2s ease-in both; 

}
.AboutHeader {
  color: #eeeeee; 
  position: absolute;
  top: 10px; 
  left: 80px; 
  font-family: 'Permanent Marker', cursive; 
  font-size: 35px; 
  animation: fadeIn 1s ease-in both;   
}
.iconFooter {
  color: #66FCF1; 
  font-family: 'Permanent Marker', cursive; 
}

.iconImages {
  position: absolute;
  left: 0px; 
  top: 0px; 
}

@keyframes fadeInItems {
  from {
      opacity: 0;
      transform: translate3d(0, -50%, 0);
  }
  to {
      opacity: 1;
      transform: translate3d(0, 0%, 0);
  }
}
.ListItems {
  animation: fadeInItems 3s ease-in both;  
}

.activeExperience {
  visibility: visible; 
  animation: fadeIn .5s ease-in both; 
}
.hiddenExperience {
  visibility: hidden;
}

.ExperienceBorder {
  border: solid #a6b4ba; 
  padding-bottom: 100px; 
  animation: fadeIn .5s ease-in both; 
}
.ExperienceHeader {
  padding-top: 5px; 
  text-align: center;
  color: #eeeeee; 
  font-family: 'Permanent Marker', cursive; 
  font-size: 30px; 
  animation-delay: 1s; 
  animation: fadeIn 1s ease-in both;   
}

.MyExperience {
  text-align: center;
  color: #eeeeee; 
  font-family: 'Permanent Marker', cursive; 
  font-size: 20px; 
}

@keyframes fadeInExperience {
  from {
      opacity: 0;
      transform: translate3d(0, -50%, 0);
  }
  to {
      opacity: 1;
      transform: translate3d(0, 0%, 0);
  }
}
.MyspaceImage {
  position: absolute;
  top: 30px; 
  left: 0px;
}
.trelloImage {
  position: absolute;
  top: 0px; 
  left: 660px;
}
.myspace {
  display: flex;
  color: #eeeeee; 
  font-family: 'Permanent Marker', cursive; 
  font-size: 15px; 
}

.trello {
  display: flex;
  color: #eeeeee; 
  font-family: 'Permanent Marker', cursive; 
  font-size: 15px; 
}

.myspaceOv {
  padding: 20px; 
  border: solid #a6b4ba; 
  position: absolute;
  top: 300px;
  left: 180px; 
  background-color: black; 
  animation: fadeInExperience 2s ease-in both; 
  animation-delay: 3s; 

}
.trelloOv {
  padding: 20px; 
  border: solid #a6b4ba; 
  position: absolute;
  top: 600px;
  left: 680px; 
  background-color: black; 
  animation: fadeInExperience 2s ease-in both; 
  animation-delay: 5s; 
}
.contactpage {
  color: #eeeeee; 
  font-family: 'Permanent Marker', cursive; 
  text-align: center;
  font-size: 30px; 
  animation: fadeInExperience 2s ease-in both; 
  animation-delay: 8s; 
}



